<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/general :: html_head"/>
<body>
    <section id="profile_content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div align="center">
                        <!-- <form th:action="@{/user}" th:object="${user}" method="post">
                            <div>
                                <label>Email:</label>
                                <input type="text" class="form-control" th:field="*{email}"><br/>
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email errors</span>
                            </div>
                            <div>
                                <label>First Name:</label>
                                <input type="text" class="form-control" th:field="*{firstName}"><br/>
                                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name errors</span>
                            </div>
                            <div>
                                <label>Last Name:</label>
                                <input type="text" class="form-control" th:field="*{lastName}"><br/>
                                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name errors</span>
                            </div>
                            <div>
                                <label>Account status:</label>
                                <input class="form-check-input" type="checkbox" th:field="*{enabled}" id="acct_status">
                            </div>
                            <div>
                                <label>Roles:
                                    <input type="checkbox" name="roles" th:each="role : ${roles}" th:text="${role.name}" th:value="${role.id}" th:field="*{roles}"/>
                                </label>
                            </div>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

<section th:replace="fragments/general :: footer"/>
<section th:replace="fragments/general :: scripts"/>
</body>
</html>
