<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments/general.html :: head">
    <link th:href="@{/css/management/animal/list.css}" rel="stylesheet">
  </head>
  <body>
    <section id=animal_list>
      <div class="container">
        <! -- beginning of search area ->
        <div class = "row mt-2">
          <div class="col-sm-4">
            <a th:href="@{/management/animal/add}" class="btn btn-primary" role="button">Add Animal</a>
          </div>
          <div class="col-sm-4">
            <div class="search-container">
              <form action="/management/animal/list" method="post">
                <div class="form-group">
                  <input type="text" placeholder="Search.." name="search" class="form-control">
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="search_filter" id="search_by_id" value="id" checked>
                  <label class="form-check-label" for="search_filter">ID</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="search_filter" id="search_by_tagId" value="tagId">
                  <label class="form-check-label" for="search_by_tagId">Tag ID</label>
                </div>
                <button type="button" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <div></div>
        <! -- beginning of search result area ->
        <div class = "row mt-2">
          <div class="col-sm-12">
            <table class = "table thead-light">
              <thead>
                <th>#</th>
                <th>ID</th>
                <th>Tag ID</th>
                <th>Animal Type</th>
                <th>Gender</th>
                <th>DoB</th>
                <th>DoD</th>
              </thead>
              <tbody>
                <tr th:each="animal, stats : ${animals}">
                   <td><input type="checkbox" name="" th:value="${animal.id}"></td>
                   <td><a th:href="@{/management/animal/view/{id}(id=${animal.id})}" th:text="${animal.id}"></a></td>
                   <td th:text="${animal.tagId}"></td>
                   <td th:text="${animal.animalType.name}"></td>
                   <td th:text="${animal.gender}"></td>
                   <td th:text="${animal.dateOfBirth}"></td>
                   <td th:text="${animal.dateOfDeath}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <section th:insert="fragments/general :: footer"/>
    <section th:insert="fragments/general :: scripts"/>
  </body>
  </html>
