<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/styles.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Martel:wght@200;700&display=swap" rel="stylesheet">
    <title>openFarm | Home</title>
  </head>
	<body>
		<div align="center">
			<form th:action="@{/animal}" th:object="${animal}" method="post">
				<label>Animal Type:</label>
        <select th:field="*{animalType}">
            <option th:each="animalType : ${animalTypes}" th:value="${animalType.id}" th:text="${animalType.name}" />
        </select>
        <br/>
				<label>Animal name:</label>
				<input type="text" class="form-control" th:field="*{name}"><br/>
				<label>Tag ID:</label>
				<input type="text" class="form-control" th:field="*{tagId}"><br/>
				<label>Date of birth ((yyyy-mm-dd):</label>
				<input type="text" class="form-control" th:field="*{dateOfBirth}"><br/>
				<label>Animal sex:</label>
				<input type="radio" th:field="*{gender}" value="M" />Male
        <input type="radio" th:field="*{gender}" value="F" />Female<br/>
				<label>Can the animal be milked?:</label>
				<input class="form-check-input" type="checkbox" th:field="*{milkable}" id="milkable">
				<button type="submit">Add Animal</button>
			</form>
		</div>
	</body>
</html>
