<!DOCTYPE html>
<html lang="en">
  <head th:replace="fragments/general.html :: html_head"/>
  <body>
    <div id="app" class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#"><span class="font-weight-bold text-uppercase logo">Open Farm</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
    </div>
    <div class="container">
        <div class="row tryher">
            <div col="col-sm-3">1 this is funny movie!!</div>
            <div col="col-sm-3">2</div>
            <div col="col-sm-3">4</div>
            <div col="col-sm-3">4</div>
        </div>
    </div>
    <section th:replace="fragments/general :: footer"/>
    <section th:replace="fragments/general :: scripts"/>
  </body>
</html>
