<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: head"/>
	<body>
		<header></header>
		<section>
			<div class="container">
				<div class="col-sm-12">
					<div class="row mt-2">
						<div class="col-sm-12">
							<form method="POST" action="/login" class="form-signin">
        				<h2 class="form-heading">Log in***</h2>
								<div class="form-group ">
				            <span></span>
				            <input name="username" type="text" class="form-control" placeholder="Username"
				                   autofocus="true"/>
				            <input name="password" type="password" class="form-control" placeholder="Password"/>
				            <span th:text="${errorMsg}"></span>
				            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
				        </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section th:insert="fragments/general :: footer"/>
	  <section th:insert="fragments/general :: scripts"/>
	</body>
</html>
